.confirm {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px;
  background-color: #fff;
}

.confirm_container {
  width: 600px;
  padding: 50px 40px;
  border: 2px solid #4489ff;
  border-radius: 20px;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.confirm_title {
  font-size: 44px;
  margin: 0 auto;
}

.confirm_icon {
  width: 100px;
  height: 100px;
  margin: 20px;
}

.confirm_text {
  font-size: 20px;
  color: #5e5e5e;
  line-height: 1.4;
  margin: 0 0 20px;
}

.confirm_resend-link {
  display: inline-block;
  font-size: 20px;
  color: #4489ff;
  text-decoration: none;
  margin: 0 0 50px;
}

.confirm_resend-link:hover {
  text-decoration: underline;
  color: #2563eb;
}

.confirm_button {
  width: 400px;
  height: 35px;
  background-color: #4489ff;
  color: #fff;
  border: 2px solid #4489ff;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  font-family: "Poppins", system-ui !important;
}

.confirm_button:hover {
  background-color: #2563eb;
}

.confirm_resend-link{
  width: 350px;
  height: 35px;
  background-color: #4489ff;
  color: #fff;
  border: 2px solid #4489ff;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  font-family: "Poppins", system-ui !important;
}

.confirm_resend-link:hover {
  background-color: #2563eb;
  border: 2px solid #2563eb;
  text-decoration: none;
  color: #fff;
}