<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <title>Подтверждение регистрации</title>
</head>
<body style="font-family: "Poppins", system-ui !important; background-color: #ffffff; margin: 0; padding: 0;">
  <div style="max-width: 600px; margin: auto; padding: 50px 100px; text-align: center;">
    
    <img src="https://i.imgur.com/dXkLmOz.png" alt="RBM Logo" width="150" style="margin-bottom: 20px;" />

    <h2 style="margin-top: 0; font-size: 30px; font-weight: bold;">RBM CLEANING</h2>

    <p style="font-size: 16px; margin: 50px 0;">
      Пожалуйста, нажмите кнопку ниже, чтобы подтвердить регистрацию.
    </p>

    <!-- Кнопка -->
    <a href="{{ confirm_link }}"
       style="background-color: #ffc107; color: black; font-weight: bold; text-decoration: none; padding: 20px; border-radius: 6px; display: inline-block; margin-bottom: 30px;">
      Подтверждаю регистрацию
    </a>

    <h3 style="font-size: 20px;">Предложение о сотрудничестве:</h3>
    <p style="font-size: 16px;">
      Напишите нам на <a href="mailto:rbmcleaning6@gmail.com">rbmcleaning6@gmail.com</a> с описанием идеи и своими контактами.
    </p>

    <h3>Техническая поддержка:</h3>
    <p style="font-size: 16px;">
      +7-(777)-777-77-77<br />
      +7-(777)-777-77-77
    </p>
    <hr style="margin: 50px 0;" />
    <p style="margin-top: 0px; font-size: 16px;">
      С уважением, команда <strong>RBM Cleaning</strong>
    </p>
  </div>
</body>
</html>
